h1{
	size: 36;
	text-align: center;
	font-family: Geneva,Arial,sans-serif;
}
img{
	img-width: auto;
}
figcaption {
    padding: 3px;
    text-align: center;
}
body{
	width: 700px;
	margin-left:500px;
	margin-right:500px;
	align: center;
}
p{
	font: "Times New Roman", Times, serif;
	font-size: 21px;
}
a{
	color: black;
}

